* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-image: var(--background-image);
}
// headings and subheading styles

.row {
  margin-left: 30px;
}
